# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd
import warnings 
warnings.filterwarnings('ignore')
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df = pd.read_csv(url)
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [ ]:
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df1 = pd.read_csv(url1)
df1.head()

In [ ]:
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url2)
df2.head()

In [ ]:
df.columns = [col.lower().replace(" ", "_") for col in df.columns]
df = df.rename(columns={"st": "state"})
df.head(0)

In [ ]:
cools = df.columns.tolist()

In [ ]:
cools = ['customer', 'state', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'total_claim_amount', 'policy_type', 'vehicle_class']

In [ ]:
cools

In [ ]:
df.columns = df.columns.str.strip().str.lower()
df = df[cools]

In [ ]:
df.head(0)

In [ ]:
df.sample(10)

In [ ]:
df1.columns = [col.lower().replace(" ", "_") for col in df1.columns]
df1 = df1.rename(columns={"st": "state"})
df1.head(0)

In [ ]:
df2.columns = [col.lower().replace(" ", "_") for col in df2.columns]
df2 = df2.rename(columns={"st": "state"})
df2.head(0)

In [ ]:
# Merge df1 and df2 
df_semi = pd.concat([df1, df2], axis = 0)
df_semi

In [ ]:
df_final = pd.concat([df, df_semi], axis=0)
df_final

In [ ]:
# CHECKOUT why this does not work. 
# Merge df1 and df2 
df_semi = pd.merge(df1, df2, on='customer')
df_semi

In [ ]:
# I do not understand but I got merged just 3 outcomes. 
df_final = pd.merge(df, df_semi, on='customer')
df_final

In [ ]:
df_final.shape

In [ ]:
# And now cleaning it but just need to copy from the other one we made.

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [5]:
url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df4 = pd.read_csv(url4)
df4.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [7]:
df4.drop(columns=["unnamed:_0"], inplace=True)

In [9]:
df4.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [32]:
#How to sum all. Monthly_premium_auto to low. (But says Amount of money the customer pays on a monthly basis. 
pivot_df = round(df4.pivot_table(index='sales_channel', columns='coverage', values='monthly_premium_auto'), 2)
pivot_df

coverage       Basic  Extended  Premium
sales_channel
Agent          81.70    104.31   137.62
Branch         82.29    103.69   127.27
Call Center    82.25    103.12   130.53
Web            83.18    101.27   137.66

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [29]:
pivot_df2 = round(df4.pivot_table(index='education', columns='gender', values='customer_lifetime_value'), 2)
pivot_df2

gender                      F        M
education
Bachelor              7874.27  7703.60
College               7748.82  8052.46
Doctor                7328.51  7415.33
High School or Below  8675.22  8149.69
Master                8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here